@font-face {
    font-family: 'Roboto Condensed', sans-serif; 
    src: url('fonts/RobotoCondensed-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    }

body {
    background-image: url(./images/chamomile_field_sky_nature_sun_grass_23928_1920x1080.jpg);
    color: black;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
    height: 100%;
}

h2 {
    color: rgb(0, 0, 0);
}

.avatar {
width: 300px;
height: 300px;
border-radius: 50%;
}

.info {
    color: rgb(236, 43, 43);
    margin: 10px;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    display: flex;
}

.info-text {
    margin-left: 30px;
    font-size: 24px;
}

.social {
    font-weight: bold;
    font-size: 18px;
}

.social h2 {
    font-size: 24px; 
}

.social ul {
    padding: 0px;
}

.container {
    max-width: 50%;
    margin: auto;
    background-color: #6498cc;
    border: 2px solid #80b9f1;
    min-height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: orange;
}

a.visited {
color: rgb(148, 226, 70);
}

.card {
margin: 10px;
border-radius: 20px;
padding: 20px;
}

.card h2 {
    margin-top: 0px;
}

.aaa {
    font-weight: bold;
    margin-left: 2px;
    font-size: 18px;
}

.bg-yellow {
background: rgb(253, 243, 155);
}

.bg-red {
    background: rgb(238, 139, 185);
}

.bg-green {
    background: rgb(148, 252, 148);
}

.list {
    padding: 0px 15px;
    margin: 0px;
}

.list li {
    margin-bottom: 5px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 5px;
}

.table tr:nth-child(1){
    font-weight: bold;
    color: rebeccapurple;
}

.vk {
    background-image: url(./icons/vk.png);
    background-repeat: no-repeat;
    padding-left: 23px;
    background-size: 20px;
    padding-top: 1px;
    margin-right: 10px;
}

.telegram {
    background-image: url(./icons/1591869_messenger_social_telegram_icon.png);
    background-repeat: no-repeat;
    padding-left: 23px;
    background-size: 20px;
    padding-top: 1px;
    margin-right: 10px;
}

.contact {
    color: black;
}

.contact h2 {
    text-align: center;
}

.form-group {
    margin: 0% 10%;
}

.form-group label{
    display: block;
    font-size: 18px;
    color: black;
    border: none;
    margin-top: 5px;
}

.form-group input,
.form-group textarea {
    color: rgb(0, 0, 0);
    font-size: 16px;
    outline: none;
    font-family: inherit;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 5px;
}

.row {
    display: flex;
}

.row > .form-group {
    width: 50%;
}

.month {
    width: 9%;
}

.year {
    width: 16%;
    margin-left: 6px;
}

.card-number {
    width: 66%;
}

.cvv {
    width: 5%;
}

.textarea {
    width: 100%;
}

.line {
    display: inline;
}

.btn {
    background: rgb(0, 0, 0);
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    margin: 5px 42%;
}

.btn:hover {
    padding: 10px 15px;
    margin: 5px 42%;
    color: orangered;
    background: white;
    box-sizing: border-box;
    cursor: pointer;
}

.ds {
    margin: 5px 11.5%;
}

@media(max-width:700px) {
    .info {
        text-align: center;
        display: block;
    }
    .info p {
        font-size: 12px;
        text-align: center;
    }

    .ds {
        width: 260px;
    }
}
